<!-- BEGIN: Subheader -->
<div class="m-subheader">
	<div class="d-flex align-items-center">
		<div class="mr-auto">
			<h3 class="m-subheader__title m-subheader__title--separator">
				Teacher Subject
			</h3>
			<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
				<li class="m-nav__item m-nav__item--home">
					<a href="#" class="m-nav__link m-nav__link--icon">
						<i class="m-nav__link-icon la la-home"></i>
					</a>
				</li>
				<li class="m-nav__separator">
					-
				</li>
				<li class="m-nav__item">
					<a href="" class="m-nav__link">
						<span class="m-nav__link-text">
							Home
						</span>
					</a>
				</li>
				<li class="m-nav__separator">
					-
				</li>
				<li class="m-nav__item">
					<a href="" class="m-nav__link">
						<span class="m-nav__link-text">
							Add Teacher Subject
						</span>
					</a>
				</li>
				<li class="m-nav__separator">
					-
				</li>
				<li class="m-nav__item">
					<a href="" class="m-nav__link">
						<span class="m-nav__link-text">
							Default Forms
						</span>
					</a>
				</li>
			</ul>
		</div>
		<div>
		
		</div>
	</div>
</div>
<!-- END: Subheader -->

	<div class="m-content" id="addTemplate" style="display: none;">

		<div class="row">
			<div class="col-lg-12">
				<!--begin::Portlet-->
				<div class="m-portlet">
					<div class="m-portlet__head">
						<div class="m-portlet__head-caption">
							<div class="m-portlet__head-title">
								<span class="m-portlet__head-icon m--hide">
									<i class="la la-gear"></i>
								</span>
								<h3 class="m-portlet__head-text">
									Add Teacher Subject
								</h3>
							</div>
						</div>
					</div>

					<form class="m-form m-form--fit m-form--label-align-right m-form--group-seperator-dashed" [formGroup]="addTeacherSubjectForm" (ngSubmit)="addTeacherSubjectSubmitForm(addTeacherSubjectForm.value)">
						<div class="m-portlet__body">
							<div class="form-group m-form__group row">					
								<div class="col-lg-3">
									<label class="col-form-label">
									  Select Class
									</label>
									<div>
				  
									  <select class="form-control m-select2 class_select2_drop_down" id="add_class_select2_1"
										formControlName="classId">
									  </select>
				  
									</div>
								  </div>
								  <div class="col-lg-3">
									<label class="col-form-label">
									  Select Div
									</label>
									<div>
									  <select class="form-control m-select2 division_select2_drop_down" id="m_select2_2"
										formControlName="divId">
									  </select>
				  
									</div>
								  </div>
								  <div class="col-lg-3">
									<label class="col-form-label">
									  Select Subject
									</label>
									<div>
									  <select class="form-control m-select2 subject_select2_drop_down" id="m_select2_3"
										formControlName="subId"></select>
										<span *ngIf="addTeacherSubjectForm.controls['subId'].hasError('required') && addTeacherSubjectForm.controls['subId'].touched"
									 class="m--font-danger">You must include a subject title.</span>
									</div>
								  </div>
								  
								  <div class="col-lg-3">
									<label class="col-form-label">
									  Select Teacher
									</label>
									<div>
									  <select class="form-control m-select2 teacher_select2_drop_down" id="m_select2_3"
										formControlName="teacherId"></select>
				  
									</div>
								  </div>
							</div>
							
						</div>
						<div class="m-portlet__foot m-portlet__no-border m-portlet__foot--fit">
							<div class="m-form__actions m-form__actions--solid">
								<div class="row">
									<div class="col-lg-2"></div>
									<div class="col-lg-6">
										<button type="submit" class="btn btn-brand" [disabled]="!addTeacherSubjectForm.valid">Submit</button>

										<button type="button" (click)="listTemplate()" class="btn btn-secondary">Cancel</button>
									</div>
								</div>
							</div>
						</div>


					</form>
					<!--end::Form-->
				</div>
				<!--end::Portlet-->
			</div>
		</div>
	</div>
	<div class="m-content" id="editTemplate" style="display: none;">

		<div class="row">
			<div class="col-lg-12">
				<!--begin::Portlet-->
				<div class="m-portlet">
					<div class="m-portlet__head">
						<div class="m-portlet__head-caption">
							<div class="m-portlet__head-title">
								<span class="m-portlet__head-icon m--hide">
									<i class="la la-gear"></i>
								</span>
								<h3 class="m-portlet__head-text">
									Edit Teacher Subject
								</h3>
							</div>
						</div>
					</div>
					<!--begin::Form-->
					<form class="m-form m-form--fit m-form--label-align-right m-form--group-seperator-dashed" [formGroup]="editSubjectForm" (ngSubmit)="editSubjectSubmitForm(editSubjectForm.value)">
						<div class="m-portlet__body">
							<div class="form-group m-form__group row">					
								<div class="col-lg-3">
									<label class="col-form-label">
									  Select Class
									</label>
									<div>
				  
									  <select class="form-control m-select2 editclass_select2_drop_down" id="add_class_select2_1"
										formControlName="classId">
									  </select>
				  
									</div>
								  </div>
								  <div class="col-lg-3">
									<label class="col-form-label">
									  Select Div
									</label>
									<div>
									  <select class="form-control m-select2 editdivision_select2_drop_down" id="m_select2_2"
										formControlName="divId">
									  </select>
				  
									</div>
								  </div>
								  <div class="col-lg-3">
									<label class="col-form-label">
									  Select Subject
									</label>
									<div>
									  <select class="form-control m-select2 editsubject_select2_drop_down" id="m_select2_3"
										formControlName="subId"></select>
										
									</div>
								  </div>
								  
								  <div class="col-lg-3">
									<label class="col-form-label">
									  Select Teacher
									</label>
									<div>
									  <select class="form-control m-select2 editteacher_select2_drop_down" id="m_select2_3"
										formControlName="teacherId"></select>
				  
									</div>
								  </div>
							</div>
							
						</div>
						<div class="m-portlet__foot m-portlet__no-border m-portlet__foot--fit">
							<div class="m-form__actions m-form__actions--solid">
								<div class="row">
									<div class="col-lg-2"></div>
									<div class="col-lg-6">
										<button type="submit" class="btn btn-brand" [disabled]="!editSubjectForm.valid">Submit</button>

										<button type="button" (click)="listTemplate()" class="btn btn-secondary">Cancel</button>
									</div>
								</div>
							</div>
						</div>
					</form>
					<!--end::Form-->
					<!--end::Form-->
				</div>
				<!--end::Portlet-->
			</div>
		</div>
	</div>
	<div class="m-content" id="listTemplate">
		<div class="m-portlet m-portlet--mobile">
			<div class="m-portlet__head">
				<div class="m-portlet__head-caption">
					<div class="m-portlet__head-title">
						<h3 class="m-portlet__head-text">
							Teacher Subject List
						</h3>
					</div>
				</div>
			
			</div>
			<div class="m-portlet__body">
				<!--begin: Search Form -->
				<div class="m-form m-form--label-align-right m--margin-top-20 m--margin-bottom-30">
					<div class="row align-items-center">
						<div class="col-xl-8 order-2 order-xl-1">
							<div class="form-group m-form__group row align-items-center">
								<div class="col-md-4">
									<div class="m-input-icon m-input-icon--left">
										<input type="text" class="form-control m-input m-input--solid" placeholder="Search..." id="m_form_search">
										<span class="m-input-icon__icon m-input-icon__icon--left">
											<span>
												<i class="la la-search"></i>
											</span>
										</span>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xl-4 order-1 order-xl-2 m--align-right">
							<a (click)="addTemplate()" href="#" class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--air m-btn--pill">
								<span>
									<i class="flaticon-add"></i>
									<span>
										Add Teacher Subject
									</span>
								</span>
							</a>
							<div class="m-separator m-separator--dashed d-xl-none"></div>
						</div>
					</div>
				</div>
				<!--end: Search Form -->
				<!--begin: Datatable -->
			<div class="m_datatable" id="local_data"></div>
			<!--end: Datatable -->
			</div>
		</div>
	</div>
