<div id="addTemplate" style="display: none">
  <div class="m-subheader">
    <div class="d-flex align-items-center">
      <div class="mr-auto">
        <h3 class="m-subheader__title m-subheader__title--separator">
          Generate Leaving Certificate
        </h3>
        <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
          <li (click)="listTemplate()" class="m-nav__item m-nav__item--home">
            <a href="#" class="m-nav__link m-nav__link--icon">
              <i class="m-nav__link-icon la la-home"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="m-content">
    <div class="row">
      <div class="col-lg-12">
        <!--begin::Portlet-->
        <div class="m-portlet">
          <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
              <div class="m-portlet__head-title">
                <span class="m-portlet__head-icon m--hide">
                  <i class="la la-gear"></i>
                </span>
                <h3 class="m-portlet__head-text">Select Student Name for LC</h3>
              </div>
            </div>
          </div>
          <!--begin::Form-->
          <form
            id="leavingCertificate1"
            [formGroup]="leavingCertificateStudentForm"
            class="m-form m-form--fit m-form--label-align-right m-form--group-seperator-dashed"
            (ngSubmit)="leavingCertificateSubmitForm(leavingCertificateStudentForm.value)"
          >
            <div class="m-portlet__body">
              <div class="form-group m-form__group row">
                <div class="col-lg-6">
                  <label class="col-form-label"> Select Student </label>
                  <div>
                    <select
                      class="form-control m-select2 student_select2_drop_down"
                      id="m_select2_2"
                      formControlName="studentId"
                    ></select>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="m-portlet__foot m-portlet__no-border m-portlet__foot--fit"
            >
              <div class="m-form__actions m-form__actions--solid">
                <div class="row">
                  <div class="col-lg-2"></div>
                  <div class="col-lg-6">
                    <button
                      type="submit"
                      class="btn btn-brand"
                      [disabled]="!leavingCertificateStudentForm.valid"
                    >
                      Show
                    </button>

                    <button
                      type="button"
                      (click)="listTemplate()"
                      class="reload btn btn-secondary"
                    >
                      Cancel
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </form>

          <!--end::Form-->
        </div>
        <!--end::Portlet-->
      </div>
    </div>
  </div>
</div>
<div id="editTemplate" style="display: none">
  <div class="m-subheader">
    <div class="d-flex align-items-center">
      <div class="mr-auto">
        <h3 class="m-subheader__title m-subheader__title--separator">
          LeavingCertificate List
        </h3>
        <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
          <li (click)="listTemplate()" class="m-nav__item m-nav__item--home">
            <a href="#" class="m-nav__link m-nav__link--icon">
              <i class="m-nav__link-icon la la-home"></i>
            </a>
          </li>
          <li class="m-nav__separator">-</li>
          <li class="m-nav__item m-nav__item--home">
            <a href="#" class="m-nav__link m-nav__link--icon"> {{TitleSet}} </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="m-content">
    <div class="row">
      <div class="col-lg-12">
        <div class="m-portlet">
          <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
              <div class="m-portlet__head-title">
                <span class="m-portlet__head-icon m--hide">
                  <i class="la la-gear"></i>
                </span>
                <h3 class="m-portlet__head-text">{{TitleSet}}</h3>
              </div>
            </div>
          </div>
          <form
            class="m-form m-form--fit m-form--label-align-right m-form--group-seperator-dashed"
            [formGroup]="addLeavingCertificateForm"
            (ngSubmit)="addLeavingCertificateSubmitForm(addLeavingCertificateForm.value)"
            enctype="multipart/form-data"
          >
            <div class="m-portlet__body">
              <div class="form-group m-form__group row">
                <div
                  class="col-lg-4"
                  [ngClass]="{'has-danger':!addLeavingCertificateForm.controls['firstName'].valid && addLeavingCertificateForm.controls['firstName'].touched}"
                >
                  <label class="col-form-label"> First Name: </label>
                  <div>
                    <input
                      class="form-control"
                      type="text"
                      placeholder="first name"
                      formControlName="firstName"
                      [disabled]="true"
                    />
                    <span
                      *ngIf="addLeavingCertificateForm.controls['firstName'].hasError('required') && addLeavingCertificateForm.controls['firstName'].touched"
                      class="m--font-danger"
                      >Please enter first name.</span
                    >
                  </div>
                </div>
                <div class="col-lg-4">
                  <label class="col-form-label"> Middle Name: </label>
                  <div>
                    <input
                      class="form-control"
                      type="text"
                      placeholder="middle name"
                      formControlName="middleName"
                    />
                  </div>
                </div>
                <div
                  class="col-lg-4"
                  [ngClass]="{'has-danger':!addLeavingCertificateForm.controls['lastName'].valid && addLeavingCertificateForm.controls['lastName'].touched}"
                >
                  <label class="col-form-label"> Last Name: </label>
                  <div>
                    <input
                      class="form-control"
                      type="text"
                      placeholder="last name"
                      formControlName="lastName"
                    />
                    <span
                      *ngIf="addLeavingCertificateForm.controls['lastName'].hasError('required') && addLeavingCertificateForm.controls['lastName'].touched"
                      class="m--font-danger"
                      >Please enter last name.</span
                    >
                  </div>
                </div>
              </div>
              <div class="form-group m-form__group row">
                <div
                  class="col-lg-4"
                  [ngClass]="{'has-danger':!addLeavingCertificateForm.controls['className'].valid && addLeavingCertificateForm.controls['className'].touched}"
                >
                  <label class="col-form-label"> Class Name: </label>
                  <div>
                    <input
                      class="form-control"
                      type="text"
                      placeholder="class name"
                      formControlName="className"
                    />
                    <span
                      *ngIf="addLeavingCertificateForm.controls['className'].hasError('required') && addLeavingCertificateForm.controls['className'].touched"
                      class="m--font-danger"
                      >Please enter last name.</span
                    >
                  </div>
                </div>
                <div
                  class="col-lg-4"
                  [ngClass]="{'has-danger':!addLeavingCertificateForm.controls['divName'].valid && addLeavingCertificateForm.controls['divName'].touched}"
                >
                  <label class="col-form-label"> Division Name: </label>
                  <div>
                    <input
                      class="form-control"
                      type="text"
                      placeholder="division name"
                      formControlName="divName"
                    />
                    <span
                      *ngIf="addLeavingCertificateForm.controls['divName'].hasError('required') && addLeavingCertificateForm.controls['divName'].touched"
                      class="m--font-danger"
                      >Please enter division name.</span
                    >
                  </div>
                </div>
              </div>
              <div class="form-group m-form__group row">
                <div class="col-lg-4">
                  <label class="col-form-label"> Date of birth: </label>
                  <div class="input-group date">
                    <input
                      class="form-control"
                      type="text"
                      placeholder="date of birth"
                      [disabled]="true"
                      formControlName="dateOfBirth"
                    />
                  </div>
                  <!-- <span *ngIf="addLeavingCertificateForm.controls['dateOfBirth'].hasError('required')" class="m--font-danger">Please enter
                  Date Of Birth.</span> -->
                </div>
                <div class="col-lg-4">
                  <label class="col-form-label"> Gender: </label>
                  <div>
                    <div class="radio">
                      <label>
                        <input
                          type="radio"
                          name="gender"
                          value="1"
                          [checked]="addLeavingCertificateForm.controls['gender'].value ==1"
                          formControlName="gender"
                        />
                        Male
                      </label>
                    </div>
                    <div class="radio">
                      <label>
                        <input
                          type="radio"
                          name="gender"
                          value="2"
                          [checked]="addLeavingCertificateForm.controls['gender'].value ==2"
                          formControlName="gender"
                        />
                        Female
                      </label>
                    </div>
                    <!-- <span *ngIf="addLeavingCertificateForm.controls['gender'].hasError('required') && addLeavingCertificateForm.controls['gender'].touched"
                      class="m--font-danger">Please select gender.</span> -->
                  </div>
                </div>
                <div class="col-lg-4">
                  <label class="col-form-label"> Blood Group: </label>
                  <div>
                    <input
                      class="form-control"
                      type="text"
                      placeholder=""
                      formControlName="bloodGroup"
                    />
                  </div>
                </div>
              </div>
              <div class="form-group m-form__group row">
                <div
                  class="col-lg-4"
                  [ngClass]="{'has-danger':!addLeavingCertificateForm.controls['fatherName'].valid && addLeavingCertificateForm.controls['fatherName'].touched}"
                >
                  <label class="col-form-label"> Father Name: </label>
                  <div>
                    <input
                      class="form-control"
                      type="text"
                      placeholder="father name"
                      formControlName="fatherName"
                    />
                    <span
                      *ngIf="addLeavingCertificateForm.controls['fatherName'].hasError('required') && addLeavingCertificateForm.controls['fatherName'].touched"
                      class="m--font-danger"
                      >Please Enter father name.</span
                    >
                  </div>
                </div>
                <div
                  class="col-lg-4"
                  [ngClass]="{'has-danger':!addLeavingCertificateForm.controls['motherName'].valid && addLeavingCertificateForm.controls['motherName'].touched}"
                >
                  <label class="col-form-label"> Mother Name: </label>
                  <div>
                    <input
                      class="form-control"
                      type="text"
                      placeholder="mother name"
                      formControlName="motherName"
                    />
                    <span
                      *ngIf="addLeavingCertificateForm.controls['motherName'].hasError('required') && addLeavingCertificateForm.controls['motherName'].touched"
                      class="m--font-danger"
                      >Please Enter father name.</span
                    >
                  </div>
                </div>
              </div>
              <div class="form-group m-form__group row">
                <div class="col-lg-4">
                  <label class="col-form-label"> Nationality: </label>
                  <div>
                    <input
                      class="form-control"
                      type="text"
                      placeholder="nationality"
                      formControlName="nationality"
                    />
                    <!-- <span *ngIf="addLeavingCertificateForm.controls['nationality'].hasError('required') && addLeavingCertificateForm.controls['nationality'].touched"
                      class="m--font-danger">Please enter nationality.</span> -->
                  </div>
                </div>
                <div class="col-lg-4">
                  <label class="col-form-label"> Religion: </label>
                  <div>
                    <input
                      class="form-control"
                      type="text"
                      placeholder=""
                      formControlName="religion"
                    />
                  </div>
                </div>
                <div class="col-lg-4">
                  <label class="col-form-label"> Caste: </label>
                  <div>
                    <input
                      class="form-control"
                      type="text"
                      placeholder=""
                      formControlName="caste"
                    />
                  </div>
                </div>
              </div>
              <div class="form-group m-form__group row">
                <div class="col-lg-4">
                  <label class="col-form-label"> General Conduct: </label>
                  <div>
                    <input
                      class="form-control"
                      type="text"
                      placeholder="General Conduct"
                      formControlName="generalConduct"
                    />
                    <!-- <span *ngIf="addLeavingCertificateForm.controls['address'].hasError('required') && addLeavingCertificateForm.controls['address'].touched"
                      class="m--font-danger">Please enter student address.</span> -->
                  </div>
                </div>

                <div class="col-lg-4">
                  <label class="col-form-label"> Leaving Reason </label>
                  <div>
                    <input
                      class="form-control"
                      type="text"
                      placeholder="Leaving Reason"
                      formControlName="leavingReason"
                    />
                    <span
                      *ngIf="addLeavingCertificateForm.controls['leavingReason'].hasError('required') && addLeavingCertificateForm.controls['leavingReason'].touched"
                      class="m--font-danger"
                      >Please Enter Leaving Reason.</span
                    >
                    <!-- <select class="form-control m-select2 city_select2_drop_down" id="m_select2_2" formControlName="cityId">
                    </select> -->
                    <!-- <span *ngIf="addLeavingCertificateForm.controls['cityId'].hasError('required') && addLeavingCertificateForm.controls['cityId'].touched"
                      class="m--font-danger">Please select city name.</span> -->
                  </div>
                </div>
              </div>

              <div class="form-group m-form__group row">
                <div
                  class="col-lg-4"
                  [ngClass]="{'has-danger':!addLeavingCertificateForm.controls['remark'].valid && addLeavingCertificateForm.controls['remark'].touched}"
                >
                  <label class="col-form-label"> Remark: </label>
                  <div>
                    <input
                      class="form-control"
                      type="text"
                      placeholder="remark"
                      formControlName="remark"
                    />
                    <span
                      *ngIf="addLeavingCertificateForm.controls['remark'].hasError('required') && addLeavingCertificateForm.controls['remark'].touched"
                      class="m--font-danger"
                      >Please Enter remark.</span
                    >
                  </div>
                </div>
                <div
                  class="col-lg-4"
                  [ngClass]="{'has-danger':!addLeavingCertificateForm.controls['otherData'].valid && addLeavingCertificateForm.controls['otherData'].touched}"
                >
                  <label class="col-form-label"> Other Data: </label>
                  <div>
                    <input
                      class="form-control"
                      type="text"
                      placeholder="other Data"
                      formControlName="otherData"
                    />
                    <span
                      *ngIf="addLeavingCertificateForm.controls['otherData'].hasError('required') && addLeavingCertificateForm.controls['otherData'].touched"
                      class="m--font-danger"
                      >Please Enter other Data.</span
                    >
                  </div>
                </div>

                <div class="col-lg-4">
                  <label class="col-form-label"> Date Of Certificate </label>
                  <div>
                    <div class="input-group date">
                      <input
                        class="form-control"
                        type="text"
                        placeholder="date of birth"
                        [disabled]="true"
                        formControlName="dateOfCertificate"
                      />
                    </div>
                    <!-- <select class="form-control m-select2 state_select2_drop_down" id="m_select2_1" formControlName="stateId">
                    </select> -->
                    <!-- <span *ngIf="addLeavingCertificateForm.controls['stateId'].hasError('required') && addLeavingCertificateForm.controls['stateId'].touched"
                      class="m--font-danger">Please select state name.</span> -->
                  </div>
                </div>
              </div>
            </div>
            <div
              class="m-portlet__foot m-portlet__no-border m-portlet__foot--fit"
            >
              <div class="m-form__actions m-form__actions--solid">
                <div class="row">
                  <div class="col-lg-2"></div>
                  <div class="col-lg-6">
                    <button
                      type="submit"
                      class="btn btn-brand"
                      [disabled]="!addLeavingCertificateForm.valid"
                    >
                      Submit
                    </button>

                    <button
                      type="button"
                      (click)="listTemplate()"
                      class="btn btn-secondary"
                    >
                      Cancel
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="listTemplate">
  <div class="m-subheader">
    <div class="d-flex align-items-center">
      <div class="mr-auto">
        <h3 class="m-subheader__title m-subheader__title--separator">
          Leaving Certificate List
        </h3>
      </div>
    </div>
  </div>
  <div class="m-content">
    <div class="m-portlet m-portlet--mobile">
      <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
          <div class="m-portlet__head-title">
            <h3 class="m-portlet__head-text">Leaving Certificate List</h3>
          </div>
        </div>
        <div class="m-portlet__head-tools">
          <ul class="m-portlet__nav">
            <li class="m-portlet__nav-item">
              <div class="m-widget4">
                <div class="m-widget4__item">
                  <div class="m-widget4__img m-widget4__img--icon">
                    <img src="./assets/app/media/img/files/csv.svg" alt="" />
                  </div>
                  <div class="m-widget4__info">
                    <span class="m-widget4__text">Export Excel </span>
                  </div>
                  <div class="m-widget4__ext">
                    <a
                      href="#"
                      (click)="tableToExcel('exportTable')"
                      class="m-widget4__icon"
                      ng-reflect-href="#"
                      ><i class="la la-download"></i
                    ></a>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="m-portlet__body">
        <!--begin: Search Form -->
        <div
          class="m-form m-form--label-align-right m--margin-top-20 m--margin-bottom-30"
        >
          <div class="row align-items-center">
            <div class="col-xl-8 order-2 order-xl-1">
              <div class="form-group m-form__group row align-items-center">
                <div class="col-md-4">
                  <div class="m-input-icon m-input-icon--left">
                    <input
                      type="text"
                      class="form-control m-input m-input--solid"
                      placeholder="Search..."
                      id="m_form_search"
                    />
                    <span class="m-input-icon__icon m-input-icon__icon--left">
                      <span>
                        <i class="la la-search"></i>
                      </span>
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-4 order-1 order-xl-2 m--align-right">
              <a
                (click)="addTemplate()"
                href="#"
                class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--air m-btn--pill"
              >
                <span>
                  <i class="la la-user-plus"></i>
                  <span> Generate LC </span>
                </span>
              </a>
              <div class="m-separator m-separator--dashed d-xl-none"></div>
            </div>
          </div>
        </div>
        <!--end: Search Form -->
        <!--begin: Datatable -->
        <div class="m_datatable" id="local_data"></div>
        <!--end: Datatable -->
      </div>
    </div>
  </div>
</div>
<div>
  <table id="exportTable" style="display: none">
    <thead>
      <tr>
        <th>Sr No</th>
        <th>Roll No</th>
        <th>Class-Div</th>
        <th>LeavingCertificate Name</th>
        <th>Parent Name</th>
        <th>Contact No</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let student of leavingcertificateData;let i = index">
        <td>{{i+1}}</td>
        <td>{{student.rollNo}}</td>
        <td>{{student.className}} - {{student.divName}}</td>
        <td>{{student.firstName}} {{student.lastName}}</td>
        <td>{{student.fatherName}} {{student.lastName}}</td>
        <td>{{student.parentNumber}}</td>
      </tr>
    </tbody>
  </table>
</div>
<div class="d-block" id="myModel" style="display: none">
  <div class="modal-open" style="display: none">
    <div class="modal-content" style="overflow-y: scroll; height: 100vh">
      <div class="modal-header">
        <h4 class="modal-title">{{ pdfFileName | uppercase }}</h4>
        <button
          type="button"
          aria-label="Close"
          class="close"
          (click)="hideModelPopup()"
        >
          <span aria-hidden="true"><i class="fa fa-close"></i></span>
        </button>
      </div>
      <div class="modal-body">
        <div
          class="container table-responsive mt-5 justify-content-center contentData"
          id="contentData"
          style="width: 850px"
        >
          <table class="table table-bordered" style="margin: 10px">
            <thead class="thead-dark">
              <tr>
                <th colspan="2" class="text-center">
                  <div class="row">
                    <!-- School Logo Column -->
                    <div class="col-md-2 text-center">
                      <img
                        src="{{ imageUrlPath }}{{ leavingCertificateStudentData.schoolLogo }}"
                        alt="School Logo"
                        style="max-width: 100px"
                      />
                    </div>
                    <!-- School Name and Address Column -->
                    <div class="col-md-10">
                      <h3>{{ leavingCertificateStudentData.schoolName }}</h3>
                      <p>{{ leavingCertificateStudentData.schoolAddress }}</p>
                    </div>
                  </div>
                </th>
              </tr>
              <tr>
                <th colspan="2" class="text-center">LEAVING CERTIFICATE</th>
              </tr>
            </thead>
            <tbody id="contentData1">
              <tr>
                <td colspan="2">
                  This is to certify that
                  <strong
                    >{{
                    leavingCertificateStudentData?.leavingcertificates?.firstName
                    }} {{
                    leavingCertificateStudentData?.leavingcertificates?.middleName
                    }} {{
                    leavingCertificateStudentData?.leavingcertificates?.lastName
                    }}</strong
                  >, having been a student of
                  <strong>[School/Institution Name]</strong>, has satisfactorily
                  completed his/her studies and is eligible to leave the
                  institution.
                </td>
              </tr>
              <tr>
                <td colspan="2"><strong>Details of the student:</strong></td>
              </tr>
              <tr>
                <td>Student Name:</td>
                <td>
                  <strong
                    >{{
                    leavingCertificateStudentData?.leavingcertificates?.firstName
                    }} {{
                    leavingCertificateStudentData?.leavingcertificates?.middleName
                    }} {{
                    leavingCertificateStudentData?.leavingcertificates?.lastName
                    }}</strong
                  >
                </td>
              </tr>
              <tr>
                <td>Student ID:</td>
                <td>
                  <strong
                    >{{
                    leavingCertificateStudentData?.leavingcertificates?.studentId
                    }}</strong
                  >
                </td>
              </tr>
              <tr>
                <td>Date of Birth:</td>
                <td>
                  <strong
                    >{{
                    leavingCertificateStudentData?.leavingcertificates?.dateOfBirth
                    }}</strong
                  >
                </td>
              </tr>
              <tr>
                <td>Gender:</td>
                <td>
                  <strong>
                    <span
                      *ngIf="leavingCertificateStudentData?.leavingcertificates?.gender === 1"
                      >Male</span
                    >
                    <span
                      *ngIf="leavingCertificateStudentData?.leavingcertificates?.gender !== 1"
                      >Female</span
                    >
                  </strong>
                </td>
              </tr>
              <tr>
                <td>Roll No:</td>
                <td>
                  <strong
                    >{{
                    leavingCertificateStudentData?.leavingcertificates?.rollNo
                    }}</strong
                  >
                </td>
              </tr>
              <tr>
                <td colspan="2"><strong>Personal Information:</strong></td>
              </tr>
              <tr>
                <td>Father's Name:</td>
                <td>
                  <strong
                    >{{
                    leavingCertificateStudentData?.leavingcertificates?.fatherName
                    }}</strong
                  >
                </td>
              </tr>
              <tr>
                <td>Mother's Name:</td>
                <td>
                  <strong
                    >{{
                    leavingCertificateStudentData?.leavingcertificates?.motherName
                    }}</strong
                  >
                </td>
              </tr>
              <tr>
                <td>Nationality:</td>
                <td>
                  <strong
                    >{{
                    leavingCertificateStudentData?.leavingcertificates?.nationality
                    }}</strong
                  >
                </td>
              </tr>
              <tr>
                <td>Religion:</td>
                <td>
                  <strong
                    >{{
                    leavingCertificateStudentData?.leavingcertificates?.religion
                    }}</strong
                  >
                </td>
              </tr>
              <tr>
                <td>Caste:</td>
                <td>
                  <strong
                    >{{
                    leavingCertificateStudentData?.leavingcertificates?.caste
                    }}</strong
                  >
                </td>
              </tr>
              <tr>
                <td colspan="2"><strong>Academic Details:</strong></td>
              </tr>
              <tr>
                <td>Class/Grade:</td>
                <td>
                  <strong
                    >{{
                    leavingCertificateStudentData?.leavingcertificates?.className
                    }} {{
                    leavingCertificateStudentData?.leavingcertificates?.divName
                    }}</strong
                  >
                </td>
              </tr>
              <tr>
                <td>Conduct:</td>
                <td>
                  <strong
                    >{{
                    leavingCertificateStudentData?.leavingcertificates?.generalConduct
                    }}</strong
                  >
                </td>
              </tr>
              <tr>
                <td>Reason for Leaving:</td>
                <td>
                  <strong
                    >{{
                    leavingCertificateStudentData?.leavingcertificates?.leavingReason
                    }}</strong
                  >
                </td>
              </tr>
              <tr>
                <td colspan="2"><strong>Remarks:</strong></td>
              </tr>
              <tr>
                <td colspan="2">
                  <strong
                    >{{
                    leavingCertificateStudentData?.leavingcertificates?.remark
                    }}</strong
                  >
                </td>
              </tr>
              <tr>
                <td>Date of Issue:</td>
                <td>
                  <strong
                    >{{
                    leavingCertificateStudentData?.leavingcertificates?.createdAt
                    | date: 'mediumDate' }}</strong
                  >
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="modal-footer" style="padding-top: 100px">
          <button
            type="button"
            class="btn btn-danger"
            (click)="tableToExcel('contentData1')"
          >
            <!-- <i class="m-nav__link-icon flaticon-multimedia-2"></i> -->
            Excel
          </button>
          <button
            type="button"
            class="btn btn-primary"
            (click)="generateFile()"
          >
            Generate PDF
          </button>
          <button
            type="button"
            class="btn btn-warning"
            data-dismiss="modal"
            (click)="printDiv('contentData')"
          >
            Print
          </button>
          <button
            type="button"
            class="btn btn-secondary"
            data-dismiss="modal"
            (click)="hideModelPopup()"
          >
            Cancel
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
